<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270064367135-e0r942548epvsnfod7ggtkucrnsbafpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270064367135-e0r942548epvsnfod7ggtkucrnsbafpe</string>
	<key>API_KEY</key>
	<string>AIzaSyDYcvo56fAOAyGLjDIYZJM_YY_StO5F1bY</string>
	<key>GCM_SENDER_ID</key>
	<string>270064367135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aneeshprabu.VITbusTracker</string>
	<key>PROJECT_ID</key>
	<string>buslocation-d0065</string>
	<key>STORAGE_BUCKET</key>
	<string>buslocation-d0065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270064367135:ios:bd26731557f39577</string>
	<key>DATABASE_URL</key>
	<string>https://buslocation-d0065.firebaseio.com</string>
</dict>
</plist>